## Indiviual files
initialize.sh
*.sh
*.el~
*.elc
.historian
.recentf
.smex-items
projectile-bookmarks.eld
.DS_Store
recentf
savehist
eshell/history
eshell/lastdir

## Directories
images/
el-get/
elpa/
auto-save-list/
/.#recentf
/.session
/history
/helm-adaptive-history
/ido.last
*~
/persistent-scratch
/config.el
/.org-id-locations
/smex-items
/network-security.data
/org-gcal/.org-gcal*
/org-gcal/.org-gcal-tokendaniel.newman@digitalreasoning.com
bookmarks
/.sx
/.sx/auth.el
/url
/url/cache/daniel.newman/http/com/google/www/9117c4f6f79f276bd34a7cc018286215
/org-clock-save.el
/var/pcache/java-imports
/jabber-avatar-cache
/semanticdb
/srecode-map.el
