## Indiviual files
initialize.sh
*.sh
*.el~
*.elc
.historian
.recentf
.smex-items
projectile-bookmarks.eld
.DS_Store
recentf
savehist

## Directories
out/
sh/
images/
el-get/
elpa/
eshell/
auto-save-list/
/.#recentf
/.session
/history
/helm-adaptive-history
/ido.last
*~
/persistent-scratch
/config.el
/.org-id-locations
