[submodule "site-lisp/yasnippet-snippets"]
	path = site-lisp/yasnippet-snippets
	url = git@github.com:AndreaCrotti/yasnippet-snippets.git
[submodule "override/cedet"]
	path = override/cedet
	url = http://git.code.sf.net/p/cedet/git
[submodule "override/org-mode"]
	path = override/org-mode
	url = git://orgmode.org/org-mode.git
