## Indiviual files
initialize.sh
*.sh
*.el
*.el~
*.elc
.historian
.recentf
.smex-items
projectile-bookmarks.eld
.DS_Store
recentf
savehist

## Directories
out/
sh/
images/
el-get/
elpa/
eshell/
auto-save-list/
